.head {
    padding: 2%;
    padding-left: 38%;
    display: block;
}


.game td {
    width: 90px ;
    height: 90px ;
   
}

.game td:hover {
    background-color:rgba(255, 0, 0, 0.5);
    visibility: visible
}

table{
    margin-left: auto;
    margin-right: auto;
}

.white {
   color: white ;
    text-align: center ;
}

.black {
    background-color: black ;
    text-align: center ;
}

footer {
    padding: 2% ;
}
footer table td{
    padding: 2% ;
    text-align: center;
    margin: 5px ;
}